# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# User-specific files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover

# macOS specific
.AppleDouble
.LSOverride
Icon
._*

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Directories to ignore
.chainlit/
.files/
vectorstore/db_faiss/

# Don't ignore these files
!sourcedata/*.pdf